@charset "utf-8";

.container{
	margin: 0 auto;
}
h1{
	font-size: 35px;
}
h2{
	font-size: 17px;
	margin: 10px 0px;
}

.panel panel-default{
	float: left;

}
.panel-body{
	text-align: center;
}

th{
	border-bottom: solid 2px #ddd;
}

#first{
	background-color: white;
}
.table-hover>tbody>tr:hover {
    background-color: #dbf3f0;
}
.pagination>li>a, .pagination>li>span{
	color: black;
}

#head1{
	width: 100px;
}
#head2, #head5{
	width: 130px;
}
.kin{
	text-align: right;
}

.panel-heading{
	padding: 10px 8px;
}

.panel-title{
	margin: 3px 0px;
}