*{
background-color: #f8f8f8;
}

.center{
	text-align: center;
	margin: 85px 0 0 0;
}

input.white{
background-color: white;
}

input.form-control{
width: 360px;
height: 45px;
margin: -9px auto;

}

.btn.btn-primary{
width: 360px;
height: 42px;
margin: 0 auto;

}

a{
margin: 0 0 0 -202px;

}
.form-group{
	margin-bottom: 20px;
}

h2{
margin: 0 57px 14px 0;
}
h3{
	margin: 0 162px 0 0;
}