body{
	background-color: #f8f8f8;
}

.center{
	text-align: center;
	margin: 85px 0 0 0;
}

input.form-control{
	width: 305px;
	height: 45px;
	margin: -9px auto;

}

.btn.btn-primary {
	width: 308px;
	height: 42px;
	margin: 3px auto;
}

a{
	margin: 0 0 0 -110px;

}

h3{
	margin: 18px 105px 0 0;
}
.alert-dismissable, .alert-dismissible {
	margin: 0 auto;
    width: 50%;
}
.alert-dismissable li, .alert-dismissible li, .alert-dismissable h4 , .alert-dismissible h4{
	text-align: left;
}